@import './base.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

button {
  all: unset;
  cursor: pointer;
}

h1,
h2,
p {
  font-family: 'Poppins', sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: 'Inter';
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.effect-nav {
  z-index: -2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 80vh;
  background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.233), rgba(150, 150, 150, 0));
}

.nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 1rem 5.5rem 1rem 6.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.123) 0px 5px 15px;
}

.nav-logo {
  width: 2vw;
  height: auto;
}

.nav-left {
  display: flex;
  gap: 2rem;
}

.main-home {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.infomation-sidebar {
  margin-top: 3rem;
  width: 17vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.box-content {
  background-color: white;
  width: 100%;
  border-style: solid;
  border-color: var(--color-border);
  display: flex;

  padding: 1rem;
  border-radius: 20px;
  border-width: 0.1px;
  box-shadow: 1px 1px 5px 1px rgb(0 0 255 / 0.2);
}

.perfil {
  flex-flow: column wrap;
  align-items: center;
}

.new-network-box {
  margin-top: 1rem;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
}

.new-contact {
  display: flex;
  width: 100%;
  border-bottom: 0.1px var(--color-border) solid;
  padding-bottom: 0.5rem;
  flex-flow: row wrap;
  justify-content: space-between;

  &-img {
    border-radius: 100%;
    width: 2vw;
    height: auto;
  }

  &-name {
    font-size: 1rem;
  }
}

.user-image {
  width: 5vw;
  border-radius: 100%;
}

.user-information {
  font-size: 0.8rem;
  text-align: center;
}

.user-school {
  font-weight: 500;
}

.main-box {
  margin-top: 3rem;
  margin-left: 1.5rem;
  width: 50vw;
}

.projects {
  margin-left: 1rem;
  height: 100vh;
}

// feed item
.feedItem {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;

  &-header {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    width: 100%;

    &-img {
      width: 4vw;
      border-radius: 100%;
      height: auto;
    }

    &-desc {
      display: flex;
      flex-flow: column wrap;

      &-name {
        font-size: 1.2rem;
      }

      &-description {
        font-size: 0.8rem;
      }
    }
  }
  &-body {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    &-text {
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }
    &-img {
      width: 100%;
    }
  }
}
